[submodule "aws/vault"]
	path = aws/vault
	url = https://github.com/vimc/montagu-vault-py

[submodule "metrics/app/montagu_metrics"]
	path = metrics/app/montagu_metrics
	url = https://github.com/vimc/montagu-metrics-py.git
